{% extends 'base.html' %} {% import 'macros.html' as macros with context %} {%
block additionalhead %} {# Tabulator: for tables#}

{# Autocomplete for leader lookup #}
<script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
<link
    href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css"
    rel="stylesheet"
/>

<script src="{{ url_for('api.models_to_js') }}"></script>
<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

{% endblock %} 

{%block content %}

{# TODO Add gotoEvents routine (scroll down on arrow click) #} 
<div id="cover">
    <div>
        <img
            src="{{ url_for('static', filename='caf/esprit club alpin '+Configuration.COVER_LOGO_COLOR+'.png') }}"
            class="motto"
        />
        <br />
        <img
            src="{{ url_for('static', filename='img/icon/ionicon/ios-arrow-down.svg') }}"
            class="arrow"
            onclick="gotoEvents()"
        />
    </div>
</div>

<div id="eventlist" class="page-content">
    {% if Configuration.BANNER_MESSAGE %}
    <div id="banner-message">
        <h5 class="heading-1">Message important</h5>
        {{ markdown_to_html(Configuration.BANNER_MESSAGE) | safe }}
    </div>
    {% endif %}

    {# VUE JS APP #}

    <div id="app">
    </div>

    <script type="importmap">
    {
        "imports": {
            "axios": "https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/esm/axios.min.js",
            "moment": "https://cdn.jsdelivr.net/npm/moment@2.30.1/+esm"
        }
    }
    </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>

    <script type="module">

        import axios from 'axios'
        import EventList from '{{ url_for('static', filename='js/event/eventlist.component.js') }}'
        const { createApp } = Vue
        
        // TODO Move to async endpoint
        const activityList = [
            {% for type in activity_types %}
                { "id": "{{type.short}}", "name": "{{type.name}}"},
            {% endfor %}
        ]

        const eventTypes = [
            {% for type in event_types %}
                { "id": "{{type.short}}", "name": "{{type.name}}"},
            {% endfor %}
        ]

        const eventTags = [
            {% for tag in models.EventTag.all().values() %}
                { "id": "{{tag['short']}}", "name": "{{tag['name']}}"},
            {% endfor %}
        ]
        const app = createApp(EventList)
        app.provide('config', {
            activityList,
            eventTypes,
            eventTags,
        })
        app.use(PrimeVue.Config, {
        theme: {
            preset: PrimeVue.Themes.Aura
            }
        });

        app.component('p-datepicker', PrimeVue.DatePicker);
        app.component('p-multiselect', PrimeVue.MultiSelect);
        app.component('DataView', PrimeVue.DataView);
        app.component('Paginator', PrimeVue.Paginator);
        app.component('Skeleton', PrimeVue.Skeleton);
        app.mount('#app')

    </script>

</div>
{% endblock %}
